#!/usr/bin/env bash
# {{- if and (eq .chezmoi.os "linux") (not (.headless)) -}}

# {{ template "scripts-library" }}

# The following line is for ShellCheck to correctly identify the above include
true || source ../.chezmoitemplates/scripts-library

set -eufo pipefail

log_task "Installing bun"

curl -fsSL https://bun.sh/install | bash
# {{- end -}}
